<template>
    <v-snackbar
            v-model="alert"
            color="success"
            bottom
            timeout="4000"
            multi-line
            outlined
        >

            {{ text }}

            <template v-slot:action="{ attrs }">
                <v-btn
                    text
                    color="red"
                    @click="close"
                    v-bind="attrs"
                >
                    Close
                </v-btn>
            </template>
    </v-snackbar>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    name: 'alert',
    data() {
        return {
            timeout: 4000,
        }
    },
    computed: {
        ...mapGetters({
            status : 'alert/status',   
            text : 'alert/text',
            color : 'alert/color',
        }),
        alert: {
            get() {
                return this.status
            },
            set(value) {
                this.setAlert({
                    status: value
                })
            }
        }
    },
    methods: {
        ...mapActions({
            setAlert: 'alert/set'
        }),
        close() {
            this.setAlert({
                status: false
            })
        }
    }
}
</script>
