<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            Login
        </v-toolbar>
        <v-divider></v-divider>

        <v-container fluid>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    required
                    append-icon="mdi-email"
                ></v-text-field>
                <v-text-field
                    v-model="password"
                    :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                    :rules="passwordRules"
                    :type="showPassword ? 'text' : 'password'"
                    label="Password"
                    hint="At least 6 characters"
                    counter
                    @click:append="showPassword = !showPassword"
                ></v-text-field>

                <div class="text-xs-center">
                    <v-btn
                        color="success lighten-1"
                        @click="submit"
                        :disabled="!valid"
                    >
                        Login
                        <v-icon right dark>mdi-lock-open</v-icon>
                    </v-btn>
                    <v-btn
                        color="primary lighten-1"
                        @click="authProvider('google')"
                    >
                        Login with google
                        <v-icon right dark>mdi-google</v-icon>
                    </v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
export default{
    name: 'login',
    data () {
        return {
            valid: true,
            email: '',
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
            ],
            showPassword: false,
            password: '',
            passwordRules: [
                v => !!v || 'Password is required',
                v => v.length >= 6 || 'Password must be at least 6 characters'
            ],
        }
    },
    computed: {
        ...mapGetters({
            user : 'auth/user'
        })
    }, 
    methods: {
        ...mapActions({
            setAlert: 'alert/set',
            setAuth: 'auth/set',
        }),
        ...mapMutations({
            resetState: 'transactions/resetState',
        }),
        submit() {
            localStorage.removeItem('campaigns')
            this.resetState()
            if(this.$refs.form.validate()){
                let formData = {
                    'email' : this.email,
                    'password' : this.password
                }
                axios.post('/api/auth/login', formData)
                    .then( (response) => {
                        let data  = response.data
                        this.setAuth(data)
                        if(this.user.user.id.length>0){
                            this.setAlert({
                                status: true,
                                color: 'success',
                                text: 'Login Successful'
                            })
                            this.close()
                            this.clear()
                        }
                        else {
                            this.setAlert({
                                status: false,
                                color: 'error',
                                text: 'Login Failed'
                            })
                        }
                    })
                    .catch((error) => {
                        let responses = error.response
                        this.setAlert({
                            status: true,
                            color: 'error',
                            text: responses.data.error
                        })
                    })
            }
        },
        close(){
            this.$emit('closed', false)
        },
        clear(){
            this.email = ''
            this.password = ''
        },
        authProvider(provider){
            let url = '/api/auth/social/' + provider
            axios.get(url)
                .then(response => {
                    let data = response.data
                    window.location.href = data.url
                })
                .catch(() => {
                    this.setAlert({
                        status: true,
                        color: 'error',
                        text: "Login Failed"
                    })
                })
        }
    }
}
</script>
