<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            Update Password
        </v-toolbar>
        <v-divider></v-divider>

        <v-container fluid>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                    v-model="password"
                    :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                    :rules="passwordRules"
                    :type="showPassword ? 'text' : 'password'"
                    label="Password"
                    hint="At least 6 characters"
                    counter
                    @click:append="showPassword = !showPassword"
                ></v-text-field>
                <v-text-field
                    v-model="password_confirmation"
                    :append-icon="password_confirmation_showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                    :rules="password_confirmation_Rules"
                    :type="password_confirmation_showPassword ? 'text' : 'password'"
                    label="Password Confirmation"
                    hint="At least 6 characters"
                    counter
                    @click:append="password_confirmation_showPassword = !password_confirmation_showPassword"
                ></v-text-field>

                <div class="text-xs-center">
                    <v-btn
                        color="success lighten-1 mb-2"
                        @click="submit"
                        :disabled="!valid"
                    >
                        Update Password
                        <v-icon right dark>mdi-account-plus</v-icon>
                    </v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default{
    name: 'password',
    data () {
        return {
            valid: true,
            showPassword: false,
            password: '',
            passwordRules: [
                v => !!v || 'Password is required',
                v => v.length >= 6 || 'Password must be at least 6 characters'
            ],
            password_confirmation_showPassword: false,
            password_confirmation: '',
            password_confirmation_Rules: [
                v => !!v || 'Password is required',
                v => v.length >= 6 || 'Password must be at least 6 characters'
            ],
        }
    },
    computed: {
        ...mapGetters({
            user : 'auth/user'
        })
    }, 
    methods: {
        ...mapActions({
            setAlert: 'alert/set',
            setAuth: 'auth/set',
            setDialogComponent: 'dialog/setComponent',
        }),
        submit() {
            if(this.$refs.form.validate()){
                let formData = {
                    'email' : localStorage.getItem('user'),
                    'password' : this.password,
                    'password_confirmation' : this.password_confirmation
                }
                axios.post('/api/auth/update-password', formData)
                    .then( (response) => {
                        let data  = response.data
                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Register Successful'
                        })
                        this.close()
                        this.login()
                    })
                    .catch((error) => {
                        let responses = error.response
                        this.setAlert({
                            status: true,
                            color: 'error',
                            text: responses.data
                        })
                    })
            }
        },
        login() {
        let formData = {
            'email' : localStorage.getItem('user'),
            'password' : this.password
        }
        axios.post('/api/auth/login', formData)
            .then( (response) => {
                let data  = response.data
                this.setAuth(data)
                if(this.user.user.id.length>0){
                    this.setAlert({
                        status: true,
                        color: 'success',
                        text: 'Login Successful'
                    })
                    localStorage.setItem('user', '')
                    this.close()
                }
                else {
                    this.setAlert({
                        status: false,
                        color: 'error',
                        text: 'Login Failed'
                    })
                }
            })
            .catch((error) => {
                let responses = error.response
                this.setAlert({
                    status: true,
                    color: 'error',
                    text: responses.data.error
                })
            })
        },
        close(){
            this.$emit('closed', false)
        },
        authProvider(provider){
            let url = '/api/auth/social/' + provider
            axios.get(url)
                .then(response => {
                    let data = response.data
                    window.location.href = data.url
                })
                .catch(() => {
                    this.setAlert({
                        status: true,
                        color: 'error',
                        text: "Login Failed"
                    })
                })
        }
    }
}
</script>
