<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            Register
        </v-toolbar>
        <v-divider></v-divider>

        <v-container fluid>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                    v-model="name"
                    label="Name"
                    required
                    append-icon="mdi-account"
                ></v-text-field>
                <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    required
                    append-icon="mdi-email"
                ></v-text-field>

                <div class="text-xs-center">
                    <v-btn
                        color="success lighten-1 mb-2"
                        @click="submit"
                        :disabled="!valid"
                    >
                        Register
                        <v-icon right dark>mdi-account-plus</v-icon>
                    </v-btn>
                    <v-btn
                        color="primary lighten-1 mb-2"
                        @click="authProvider('google')"
                    >
                        Register with google
                        <v-icon right dark>mdi-google</v-icon>
                    </v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default{
    name: 'register',
    data () {
        return {
            valid: true,
            email: '',
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
            ],
            name: '',
        }
    },
    computed: {
        ...mapGetters({
            user : 'auth/user'
        })
    }, 
    methods: {
        ...mapActions({
            setAlert: 'alert/set',
            setAuth: 'auth/set',
            setDialogComponent: 'dialog/setComponent',
        }),
        submit() {
            if(this.$refs.form.validate()){
                let formData = {
                    'email' : this.email,
                    'name' : this.name
                }
                axios.post('/api/auth/register', formData)
                    .then( (response) => {
                        let data  = response.data
                        this.close()
                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Masukan code OTP'
                        })
                        localStorage.setItem('user', this.email)
                        this.setDialogComponent('verifikasi')
                    })
                    .catch((error) => {
                        let responses = error.response
                        this.setAlert({
                            status: true,
                            color: 'error',
                            text: responses.data
                        })
                    })
            }
        },
        close(){
            this.$emit('closed', false)
        },
        authProvider(provider){
            let url = '/api/auth/social/' + provider
            axios.get(url)
                .then(response => {
                    let data = response.data
                    window.location.href = data.url
                })
                .catch(() => {
                    this.setAlert({
                        status: true,
                        color: 'error',
                        text: "Login Failed"
                    })
                })
        }
    }
}
</script>
