<template>
    <v-card>
        <v-toolbar dark color="success">
            Verifikasi
        </v-toolbar>
        <v-divider></v-divider>

        <v-container fluid>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                    v-model="otp"
                    label="OTP"
                    required
                    append-icon="mdi-key"
                ></v-text-field>

                <div class="text-xs-center">
                    <v-btn
                        color="success lighten-1"
                        @click="submit"
                        :disabled="!valid"
                    >
                        Verifikasi
                        <v-icon right dark>mdi-lock-open</v-icon>
                    </v-btn>
                    <v-btn
                        color="success lighten-1"
                        @click="regenerateOtp"
                        :disabled="!valid"
                    >
                        Regenarete OTP
                        <v-icon right dark>mdi-lock-open</v-icon>
                    </v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default{
    name: 'verifikasi',
    data () {
        return {
            valid: true,
            otp: '',
        }
    },
    computed: {
        ...mapGetters({
            user : 'auth/user'
        })
    }, 
    methods: {
        ...mapActions({
            setAlert: 'alert/set',
            setAuth: 'auth/set',
            setDialogComponent: 'dialog/setComponent',
        }),
        submit() {
            let formData = {
                'otp': this.otp,
            }
            axios.post('/api/auth/verifikasi-otp', formData)
                .then( (response) => {
                    let data  = response.data
                    this.close()
                    this.setAlert({
                        status: true,
                        color: 'success',
                        text: 'Verifikasi Successful'
                    })
                    this.setDialogComponent('password')
                })
                .catch((error) => {
                    let responses = error.response
                    console.log(error.response)
                    this.setAlert({
                        status: true,
                        color: 'error',
                        text: responses.data.error
                    })
                })
        },
        regenerateOtp(){
            let formData = {
                'email' : localStorage.getItem('user'),
            }
            axios.post('/api/auth/regenerate-otp', formData)
                .then( (response) => {
                    let data  = response.data

                    this.setAlert({
                        status: true,
                        color: 'success',
                        text: 'Regenerate Successful'
                    })

                })
                .catch((error) => {
                    let responses = error.response
                    this.setAlert({
                        status: true,
                        color: 'error',
                        text: responses.data.error
                    })
                })
        },
        close(){
            this.$emit('closed', false)
        },
    }
}
</script>
