<template>
    <div>
        <v-card v-if="campaign.id">
            <v-img :src="campaign.image"
                class="white--tetx"
                height="200px"
                >

                <v-card-title class="fill-height align-end"
                    v-text="campaign.title"
                ></v-card-title>
            </v-img>

            <v-card-text>
                <v-simple-table dense>
                    <tbody>
                        <tr>
                            <td>
                                <v-icon>mdi-home-city</v-icon> Alamat
                            </td>
                            <td>
                                {{ campaign.address }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <v-icon>mdi-home-heart</v-icon> Terkumpul
                            </td>
                            <td class="blue--text">
                                Rp {{ parseInt(campaign.collected).toLocaleString('id-ID') }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <v-icon>mdi-cash</v-icon> Dibutuhkan
                            </td>
                            <td class="orange--text">
                                Rp {{ parseInt(campaign.required).toLocaleString('id-ID') }}
                            </td>
                        </tr>
                    </tbody>
                </v-simple-table>
                Description: <br> {{ campaign.description }}
            </v-card-text>

            <v-card-actions>
                <v-btn block color="primary" @click="donate" :disabled="campaign.collected >= campaign.required">
                    <v-icon>mdi-money</v-icon> &nbsp; Donate
                </v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex'
    export default {
        data: () => ({
            campaign: {},
            storedCampaigns: [],
        }),
        created(){
            this.go()
        },
        computed:{
            ...mapGetters({
                guest : 'auth/guest',
            }),
        },
        methods: {
            ...mapMutations({
                tambahTransaksi: 'transactions/insert',
            }),

            ...mapActions({
                setAlert: 'alert/set',
                setDialogComponent: 'dialog/setComponent',
            }),

            donate() {

                if(this.guest){
                    this.setDialogComponent('login')
                    this.setAlert({
                        status: true,
                        text: 'Login untuk donasi',
                        color: 'success'
                    })
                } else {
                    this.tambahTransaksi()

                    //nambah donasi ke lokal storage
                    var temp = []
                    var campaigns = JSON.parse(localStorage.getItem("campaigns"))
                    if(campaigns){
                        campaigns.push(this.campaign.id)
                        localStorage.setItem("campaigns", JSON.stringify(campaigns))
                    } else {
                        temp.push(this.campaign.id)
                        localStorage.setItem("campaigns", JSON.stringify(temp))
                    }

                    this.setAlert({
                        status: true,
                        text: 'Terima kasih telah menyumbang',
                        color: 'success'
                    })
                }
                
            },

            go(){
                let { id } = this.$route.params
                let url = '/api/campaign/'+ id
                axios.get(url)
                    .then((response) => {
                        let { data } = response.data
                        this.campaign = data.campaign
                    })
                    .catch((error) => {
                        let {response} = error
                        console.log(error)
                    })
            },
        },
    }
</script>
