<template>
    <div>
        <div v-if="campaigns.length !=0 ">
        <v-card class="mb-2" v-for="(campaign, index) in campaigns" :key="index" :to="'/campaign/' + campaign.id">
            <v-card v-if="campaign.id">
                <v-img :src="campaign.image"
                    class="white--tetx"
                    height="200px"
                    >

                    <v-card-title class="fill-height align-end"
                        v-text="campaign.title"
                    ></v-card-title>
                </v-img>

                <v-card-text>
                    <v-simple-table dense>
                        <tbody>
                            <tr>
                                <td>
                                    <v-icon>mdi-home-city</v-icon> Alamat
                                </td>
                                <td>
                                    {{ campaign.address }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <v-icon>mdi-home-heart</v-icon> Terkumpul
                                </td>
                                <td class="blue--text">
                                    Rp {{ parseInt(campaign.collected).toLocaleString('id-ID') }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <v-icon>mdi-cash</v-icon> Dibutuhkan
                                </td>
                                <td class="orange--text">
                                    Rp {{ parseInt(campaign.required).toLocaleString('id-ID') }}
                                </td>
                            </tr>
                        </tbody>
                    </v-simple-table>
                </v-card-text>
            </v-card>
        </v-card>
        </div>
        <div v-else>
                <v-card-text>
                    <v-alert
                        :value="true"
                        type="info"
                        icon="mdi-alert-circle-outline"
                    >
                        Belum ada history donasi. Lakukan donasi untuk menambahkan history donasi.
                    </v-alert>
                </v-card-text>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => ({
            campaigns: [],
        }),
        methods: {
            go(){
                var campaigns_arr = JSON.parse(localStorage.getItem("campaigns"))

                if(campaigns_arr){
                    campaigns_arr.forEach(element => {
                        let url = '/api/campaign/'+ element
                        axios.get(url)
                            .then((response) => {
                                let { data } = response.data
                                this.campaigns.push(response.data.data.campaign)
                            })
                            .catch((error) => {
                                let {response} = error
                                console.log(response)
                            })
                    });
                    
                } 
            }
        },
        mounted() {
            this.go()
        }
    }
</script>
